@font-face {
	font-family: 'Quicksand-Regular';
	src:url('../font/Quicksand-Regular.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Quicksand-Bold';
	src:url('../font/Quicksand-Bold.otf');
	font-weight: normal;
	font-style: normal;
}


header {
	background: #f5fafc;
	position: absolute;
	height: 172px;
	width: 100%;
}

.logo{
	position: absolute;
	top: 23px;
	left: 220px;
}
img{
	height: 130px;
	width: 190px;
}
.titulo{
	position: absolute;
	top: 31px;
	width: 190px;
	font-family: arial;
	font-size: 16px;
	text-align: center;
	color: #2e3092;
	left: 450px;
}
nav .menu {
	position: absolute;
	width: 400px;
	right: 190px;
	top: 95px;

}
nav .menu a {
	text-decoration: none;
	font-family: "Quicksand-Bold";
	font-size: 18px;
	color: #2e3092;
	margin: 15px;
}
nav .menu li {
	display: inline-block;
}