@font-face {
	font-family: 'Quicksand-Regular';
	src:url('../font/Quicksand-Regular.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Quicksand-Bold';
	src:url('../font/Quicksand-Bold.otf');
	font-weight: normal;
	font-style: normal;
}

body {
   overflow-x: hidden;
}
header {
	background: #f5fafc;
	position: absolute;
	height: 172px;
	width: 100%;
}

.logo{
	position: absolute;
	top: 30px;
	left: 5px;
}
img{
	height: 110px;
	width: 150px;
}
.titulo{
	position: absolute;
	top: 40px;
	width: 170px;
	font-family: arial;
	font-size: 14px;
	text-align: center;
	color: #2e3092;
	left: 170px;
}
nav .menu {
	position: absolute;
	width: 400px;
	right: -120px;
	top: 95px;

}
nav .menu a {
	text-decoration: none;
	font-family: "Quicksand-Bold";
	font-size: 15px;
	color: #2e3092;
	margin: 4px;
}

nav .menu a:hover {
	color: #fc0e16;
}

nav .menu li {
	display: inline-block;
}

.pie {
	position: relative;
}
.dedos {
	position: relative;
	background: #f5fafc;
	height: 270px;
}
.conectado {
	position: relative;
	top: 50px;
	left: 10px;
	font-family: arial;
	text-align: center;
	font-size: 26px;
	color: #2e3092;
	width: 280px;
}
.face img {
	position: absolute;
	width: 75px;
	height: 75px;
	left: 65px;
	top: 140px;
}
.twit img {
	position: absolute;
	width: 75px;
	height: 75px;
	left: 155px;
	top: 140px;
}
.empresa {
	position: absolute;
	top: 140px;
	right: 10px;
	font-family: arial;
	text-align: center;
	font-size: 18px;
	color: #2e3092;
	width: 320px;
}
.empresalogo img {
	position: absolute;
	width: 75px;
	height: 75px;
	right: 120px;
	top: 60px;
}

@media screen and (min-width: 650px) {
	.logo{
		top: 23px;
		left: 5px;
	}

	img{
	height: 130px;
	width: 190px;
    }

    .titulo{
	    top: 31px;
	    width: 190px;
	    font-size: 16px;
	    left: 200px;
    }
    nav .menu {
	    width: 400px;
	    right: 0px;
	    top: 95px;
}
    nav .menu a {
	    font-size: 18px;
	    margin: 15px;
}

.conectado {
	left: 30px;
	top: 20px;
	font-size: 32px;
	width: 320px;
}
.face img {
	left: 100px;
}
.twit img {
	left: 190px;
}
.empresa {
	top: 140px;
	right: 30px;
	font-size: 18px;
	width: 320px;
}
.empresalogo img {
	right: 140px;
	top: 60px;
}
}

@media screen and (min-width: 810px) {
	.logo{
		left: 20px;
	}
	.titulo{
	    left: 230px;
	}
nav .menu {
	    right: 0px;

}

.conectado {
	left: 80px;
	top: 20px;
	font-size: 32px;
	width: 320px;
}
.face img {
	left: 150px;
}
.twit img {
	left: 240px;
}
.empresa {
	top: 140px;
	right: 80px;
	font-size: 18px;
	width: 320px;
}
.empresalogo img {
	right: 180px;
	top: 60px;
}
}

@media screen and (min-width: 990px) {
	.logo{
		left: 175px;
	}
	.titulo{
	    left: 395px;
	}
nav .menu {
	    right: 145px;

}

.conectado {
	left: 210px;
	top: 20px;
	font-size: 32px;
	width: 320px;
}
.face img {
	left: 280px;
}
.twit img {
	left: 370px;
}
.empresa {
	top: 140px;
	right: 210px;
	font-size: 18px;
	width: 320px;
}
.empresalogo img {
	right: 330px;
	top: 60px;
}
}

@media screen and (min-width: 1500px) {
	.logo{
		left: 315px;
	}
	.titulo{
	    left: 535px;
	}
nav .menu {
	    right: 285px;

}

.conectado {
	left: 350px;
	top: 20px;
	font-size: 32px;
	width: 320px;
}
.face img {
	left: 420px;
}
.twit img {
	left: 510px;
}
.empresa {
	top: 140px;
	right: 350px;
	font-size: 18px;
	width: 320px;
}
.empresalogo img {
	right: 470px;
	top: 60px;
}
}

