.partes, .conectate, .chica img, .llama, .ingresodata, .caja1, .caja2 {
	position: absolute;
}

.partes{
	max-width: 2880px;
	width: 100%;
	top: 172px;
}

.miniparte {
	position: relative;
}

.fondo img {
	position: center;
	width: 100%;
	height: 126px;
}

.marco {
	position: relative;
}

.lineas{
	position: relative;
	border: #7e7f7a 1px solid;
	width: 800px;
	right: 380px;
	left: 310px;
	top: 20px;
	height: 1000px;
}

.conectate{
	top: 70px;
	font-family: "Quicksand-Regular";
	font-size: 14px;
	color: #2e3092;
	left: 230px;
}

.chica img{
	width: 210px;
	height: 328px;
}

.llama{
	top: 330px;
	font-family: "Quicksand-Bold";
	color: #91928e;
	width: 800px;
	text-align: center;
}

.error {
	position: relative;
	top: 400px;
	font-family: tahoma;
	font-size: 11px;
	height: 18px;
	background: yellow;
	width: 800px;
	text-align: center;

}
.ingresodata{
	top: 380px;
}
.nombre {
	position: relative;
}
.ab {
	position: relative;
	font-family: "Quicksand-Regular";
	font-size: 20px;
	top: 50px;
	left: 150px;
	color: #7e7f7a;
}

.caja1{
	top: 50px;
	left: 300px;
	height: 40px;
	width: 300px;
}
.caja2{
	top: 50px;
	left: 300px;
	height: 300px;
	width: 300px;
	resize: none;
} 

.boton {
	position: relative;
	top: 320px;
	left: 530px;
}

.entrar1 {
	text-decoration: none;
	background: #b25511;
	padding: 0.5em 1em;
	border-radius: 5px 5px 5px 5px;
	color: #ffffff;
	margin-top: -2em;
	box-shadow: 5px 5px 5px rgba(4,4,4,0.2);
}