.partes{
	position: absolute;
	max-width: 2880px;
	width: 100%;
	top: 172px;
}
.miniparte {
	position: relative;
}
.franja{
	background: #d75959;

}
.fondo img {
	position: center;
	width: 100%;
	height: 450px;
}
.subtitulo{
	position: absolute;
	top: 200px;
	left: 280px;
	font-family: arial;
	font-size: 70px;
	color: #ffffff;
	width: 580px;
}
.pductimg {
	position: absolute;
	width: 155px;
	height: 390px;
	right: 280px;
	top: 40px;
}

.pductimg img {
	height: 100%;
	width: 100%;
}

.miniparte2 {
	position: relative;
}

.franja2{
	background: #d75959;
	height: 270px;
}

.subtitulo2{
	position: absolute;
	top: 30px;
	left: 280px;
	font-family: arial;
	font-size: 32px;
	color: #ffffff;
	width: 450px;
}

.pductimg2-1 img {
	position: absolute;
	width: 69px;
	height: 159px;
	right: 280px;
	top: 25px;
}

.pductimg2-2 img {
	position: absolute;
	width: 69px;
	height: 159px;
	right: 349px;
	top: 85px;
}

.pductimg2-3 img {
	position: absolute;
	width: 69px;
	height: 159px;
	right: 418px;
	top: 85px;
}

.pductimg2-4 img {
	position: absolute;
	width: 69px;
	height: 159px;
	right: 487px;
	top: 25px;
}
.subtitulo3{
	position: absolute;
	top: 120px;
	left: 280px;
	font-family: arial;
	font-size: 70px;
	color: #ffffff;
	width: 580px;
}
.entrar1 {
	top: 215px;
	background: #a4c432;
	color: #333725;
}
.entrar2 {
	top: 400px;
	background: #d75959;
	color: #ffffff;
}