.partes{
	position: absolute;
	max-width: 2880px;
	width: 100%;
	top: 172px;
}

.miniparte {
	position: relative;
}
.franja{
}
.fondo img {
	position: center;
	width: 100%;
	height: 126px;
}

.miniparte2 {
	position: relative;
}
.franja2{
	height: 270px;
}
.subtitulo2{
	position: absolute;
	top: 30px;
	text-align: center;
	left: 260px;
	font-family: "Quicksand-Bold";
	font-size: 28px;
	color: #2e3092;
	width: 800px;
}

------------------------
.minparte3{
	position: relative;
}
.trabajo {
	height: 370px;
}
.manoss img{
	position: relative;
	width: 235px;
	height: 182px;
	left: 280px;
	top: 70px;
}
.palabras{
	position: absolute;
	width: 530px;
	right: 280px;
}

.subtitulo3, .letras{
	color: #7e7f7a;
	font-size: 26px;
}
.subtitulo3 {
	font-family: "Quicksand-Bold";
	}
.letras{
	font-family: "Quicksand-Regular";
	}

------------------------------