@font-face {
	font-family: 'Quicksand-Regular';
	src:url('../font/Quicksand-Regular.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Quicksand-Bold';
	src:url('../font/Quicksand-Bold.otf');
	font-weight: normal;
	font-style: normal;
}


header {
	background: #f5fafc;
	position: absolute;
	height: 172px;
	width: 100%;
}

.logo{
	position: absolute;
	top: 23px;
	left: 220px;
}
img{
	height: 130px;
	width: 190px;
}
.titulo{
	position: absolute;
	top: 31px;
	width: 190px;
	font-family: arial;
	font-size: 16px;
	text-align: center;
	color: #2e3092;
	left: 450px;
}
nav .menu {
	position: absolute;
	width: 400px;
	right: 190px;
	top: 95px;

}
nav .menu a {
	text-decoration: none;
	font-family: "Quicksand-Bold";
	font-size: 18px;
	color: #2e3092;
	margin: 15px;
}
nav .menu li {
	display: inline-block;
}

.partes{
	position: absolute;
	max-width: 2880px;
	width: 100%;
	top: 172px;
}
.miniparte {
	position: relative;
}
.franja{

}
.fondo img {
	position: center;
	width: 100%;
	height: 126px;
}

.miniparte2 {
	position: relative;
}

.franja2{
	height: 270px;
}

.subtitulo2{
	position: absolute;
	top: 30px;
	text-align: center;
	left: 260px;
	font-family: "Quicksand-Bold";
	font-size: 28px;
	color: #2e3092;
	width: 800px;

}


.miniparte3{
	position: relative;
}
.empresa{
	height: 330px;
}

.manos img {
	position: absolute;
	width: 69px;
	height: 159px;
	right: 280px;
	top: 25px;
}


.pie {
	position: relative;
}

.dedos {
	background: #f5fafc;
	height: 270px;
}

.conectado {
	position: absolute;
	top: 20px;
	left: 310px;
	font-family: arial;
	text-align: center;
	font-size: 32px;
	color: #2e3092;
	width: 320px;
}

.face img {
	position: absolute;
	width: 75px;
	height: 75px;
	left: 380px;
	top: 140px;
}

.twit img {
	position: absolute;
	width: 75px;
	height: 75px;
	left: 470px;
	top: 140px;
}

.empresa {
	position: absolute;
	top: 140px;
	right: 310px;
	font-family: arial;
	text-align: center;
	font-size: 18px;
	color: #2e3092;
	width: 320px;
}

.empresalogo img {
	position: absolute;
	width: 75px;
	height: 75px;
	right: 430px;
	top: 60px;
}