.partes{
	position: absolute;
	max-width: 2880px;
	width: 100%;
	top: 172px;
}

.miniparte {
	position: relative;
}
.franja{
}
.fondo img {
	position: center;
	width: 100%;
	height: 126px;
}
-----
.general {
	position: relative;
}
.producto {
	position: relative;
	width: 100%;
	height: 510px;
	top: 30px;
}
.descripcion {
	position: absolute;
	width: 370px;
	height: 320px;
	left: 300px;
	top: 90px;
}
.des-text {
	font-family: "Quicksand-Regular";
	font-size: 28px;
	color: #2e3092;
}
.presentacion {
	position: absolute;
	width: 345px;
	background: #f5f4f4;
    height: 500px;
    right: 300px;
}
.productos {
	position: relative;
	top: 20px;
}

.pductimg2-1 img {
	position: absolute;
	width: 69px;
	height: 159px;
	right: 30px;
	top: 25px;
}

.pductimg2-2 img {
	position: absolute;
	width: 69px;
	height: 159px;
	right: 99px;
	top: 85px;
}

.pductimg2-3 img {
	position: absolute;
	width: 69px;
	height: 159px;
	right: 168px;
	top: 85px;
}

.pductimg2-4 img {
	position: absolute;
	width: 69px;
	height: 159px;
	right: 237px;
	top: 25px;
}
.llevate{
	position: absolute;
	top: 300px;
	width: 100%;
	left: 10px;
}
.forma1 {
	width: 120px;
	text-align: center;
	font-family: "Quicksand-Bold";
	color: #2e3092;
}
.forma2 {
	position: absolute;
	width: 10px;
	font-size: 90px;
	top: -60px;
	font-family: "Quicksand-Bold";
	color: red;
	left: 140px;
}
.forma3 {
	position: absolute;
	width: 10px;
	font-size: 20px;
	top: 64px;
	font-family: "Quicksand-Bold";
	color: red;
	left: 170px;
}
.forma4 {
	position: absolute;
	font-size: 45px;
	top: 12px;
	font-family: "Quicksand-Regular";
	color: #575851;
	left: 210px;
}
.sanitario {
	position: absolute;
	font-size: 16px;
	top: 450px;
	font-family: "Quicksand-Regular";
	color: #2e3092;
	width: 100%;
	text-align: center;
}

.beneficios {
	position: relative;
}
.redaccion {
	position: relative;
	width: 900px;
	height: 620px;
	top: 30px;
	left: 250px;
}
.negrita {
	color: #2e3092;
	font-family: "Quicksand-Bold";
	font-size: 35px;
}
p {
	color: #575851;
	font-family: "Quicksand-Regular";
	font-size: 25px;
}
.enlace2 {
	position: absolute;
	top: 550px;
	text-decoration: none;
	font-family: "Quicksand-Regular";
	font-size: 18px;
	color: #3a8ccc;
	margin: 15px;
	right: 400px;
}
.enlace3 {
	position: absolute;
	top: 550px;
	text-decoration: none;
	font-family: "Quicksand-Regular";
	font-size: 18px;
	color: #3a8ccc;
	margin: 15px;
	right: 800px;
}

-------------
.pie {
	position: relative;
}
.dedos {
	position: relative;
	background: #f5fafc;
	height: 270px;
}
.conectado {
	position: relative;
	top: 20px;
	left: 310px;
	font-family: arial;
	text-align: center;
	font-size: 32px;
	color: #2e3092;
	width: 320px;
}
.face img {
	position: absolute;
	width: 75px;
	height: 75px;
	left: 380px;
	top: 140px;
}
.twit img {
	position: absolute;
	width: 75px;
	height: 75px;
	left: 470px;
	top: 140px;
}
.empresa {
	position: absolute;
	top: 140px;
	right: 310px;
	font-family: arial;
	text-align: center;
	font-size: 18px;
	color: #2e3092;
	width: 320px;
}
.empresalogo img {
	position: absolute;
	width: 75px;
	height: 75px;
	right: 430px;
	top: 60px;
}